<div id="container">
    <div *ngIf="form; else soon" id="formview">
        <h4 class="ribbon" *ngIf="mode ==='preview'">PREVIEW</h4>
        <h3>{{form.name}}</h3>
        <app-dynamic-input *ngFor="let field of form.fields" [field]="field" (valueChanged)="fieldUpdated($event)"></app-dynamic-input>
        <button id="submitform" mat-raised-button [disabled]="mode==='preview'" color="accent" (click)="submitForm()">Submit</button>
    </div>
    <ng-template #soon>
        <div id="comingsoon">        
           <div id="oldlady">
                <mat-icon color="primary">android</mat-icon>
                <p>Ok. I'll just sit here, waiting for you to start typing...</p>
           </div>
        </div>
    </ng-template>
</div>

