.container {
    margin-top: 40px;
    color: #FFF;
    position: relative;
    
}

h1 {
    letter-spacing: 8px;
    font-weight: 700;
    padding: 10px;
    text-align: right;
    font-size: xx-large;
    margin:0;
    color: #69F0AE;
    border-bottom: 1px solid #7B1FA2;
}

