.stepcontent{

    padding: 40px;
}

.stepperbuttons{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.mat-stroked-button, .mat-raised-button{
    margin-left: 20px;
}

#stepper {
    background-color: #333;
    width: 550px;
    height: 600px;
    float:left;
    position: relative;
    border: 1px solid #595959;
    margin-right: 30px;
}

#formname{
    margin: 0 auto;
}