<div id="stepper">
  <mat-horizontal-stepper #stepper [linear]= 'false' id="stepper">
    <mat-step  [stepControl]="newFormNameGroup">
      <form [formGroup]="newFormNameGroup" class="stepcontent">
        <ng-template matStepLabel>Form Name</ng-template>
        <p>
          Please enter a name for your new form
        </p>
        <mat-form-field [style.width.px]="370">
          <mat-label>Form Name</mat-label>
          <input id="formname" matInput placeholder="Meaningful yet cool name for your form" formControlName="formName" required>
        </mat-form-field>
        <div class="stepperbuttons">
          <button mat-stroked-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>  
    
    <mat-step >
        <form class="stepcontent">
          <ng-template matStepLabel>Add Fields</ng-template>
              <app-add-form-field (addField) = "addField($event)"></app-add-form-field>
          <div class="stepperbuttons">
            <button mat-stroked-button matStepperPrevious>Back</button>
            <button mat-stroked-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

    <mat-step>
      <div class="stepcontent">
        <ng-template matStepLabel>Submit Form</ng-template>
        <p>Cool. Now hit the SUBMIT button to create this form.</p>
        <div class="stepperbuttons">
          <button mat-stroked-button matStepperPrevious>Back</button>
          <button mat-raised-button color="accent" (click)="submitNewForm()">Submit</button>
        </div>
      </div>      
    </mat-step>
  </mat-horizontal-stepper>
</div>
