/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

body.mat-typography{
    background-color:#333;
}



h2 {
    color: #7B1FA2;
    letter-spacing: 0.5em;
  }



.globalerror {
    background-color: Red;
    color: #FFF;
    
}