<h2 *ngIf="(submissions$ | async)">Submissions List for '{{(submissions$ | async).form.name}}'</h2>
<table mat-table *ngIf="submissions$ | async as tablesource" [dataSource]="tablesource.data" class="mat-elevation-z8">    

    <ng-container *ngFor="let field of tablesource.fields; let colIndex = index" matColumnDef="{{field}}">
      <th mat-header-cell *matHeaderCellDef>{{field }} {{getFieldType(tablesource.form,field)}}</th>
      <td mat-cell *matCellDef="let element">{{element[field]}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="tablesource.fields"></tr>
    <tr mat-row *matRowDef="let row; columns: tablesource.fields"></tr>
  </table>

